body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    background: url(https://vignette.wikia.nocookie.net/gtawiki/images/e/e8/Vanilla-Unicorn-GTAVpc-by-night.jpg) no-repeat fixed;
    background-size: cover;
    background-position: 50%;
    -webkit-font-smoothing: antialiased;
}

.logo {
    width: 300px;
    height: 300px;
    position: relative;
    margin: 0 auto;
}

img {
    margin-top: 35%;
    width: 330px;
    height: 330px;
}

.formulario {
    margin: 0 auto;
    background-color: white;
    margin-top: 12%;
    width: 400px;
    border-radius: 5%;
    height: 150px;
    position: relative;
    bottom: 1;
}

.tabela {
    margin-left: 50px;
    padding-top: 30px;
}

.button {
    margin-left: 300px;
}

footer {
    margin-left: -8px;
    position:absolute; 
    bottom:0; 
    width:100%;
    background-color: white;
    color: black;
}
a:link
{
text-decoration:none;
color: black;
}